{% extends '../layout.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block body %}
    <div id="HOME_PAGE">
        <!-- <h1>This is the home</h1> -->
        <section class="header">
            <h1>Wish Ko Lang</h1>
            <div class="subtexts">
                <h1>Our ultimate destination for seamless gift-giving experiences!</h1>
                <p>Join our community of dreamers and doers today, and let the magic of Wish Ko lang bring smiles to you and your loved ones, one heartfelt gesture at a time.</p>
            </div>
        </section>

        <section class="options">
            <div class="card item">
                <img src="{% static 'images/svgs/having-fun.svg' %}" alt="" width="200" height="200">
                <h1>Explore organizations to help</h1>
            </div>
            <div class="card item">
                <img src="{% static 'images/svgs/having-fun.svg' %}" alt="" width="200" height="200">
                <h1>Explore organizations to help</h1>
            </div>
            <div class="card item">
                <img src="{% static 'images/svgs/having-fun.svg' %}" alt="" width="200" height="200">
                <h1>Explore organizations to help</h1>
            </div>
        </section>
    </div>
{% endblock %}