{% extends '../../layout.html' %}

{% load sass_tags static %}

{% block title %}Wish Ko Lang{% endblock %}

{% block css %}
<link href="{% sass_src 'scss/subpages/Initials/setupUser.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div id="SETUP_PAGE">
        <div class="setUp_box TOPSWING">

            <h1 class="title">Set up your account</h1>
            {% if error_message %}
            <p class="error-message" style="color: red; font-weight: bold;">{{ error_message }}</p>
            {% endif %}
            
            <div class="img_container">
                <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="" width="150" height="150">
            </div>

            <div class="img_link">
                <p>Or, input image link</p>
                <div class="input_link_container">
                    <i class="fas fa-link"></i>
                    <input type="link" class="img_link_input"
                    placeholder="Enter image link">
                </div>
            </div>

            <div class="grouped">
                <div class="input_container">
                    <label for="">Username</label>
                    <div class="input_box">
                        <input type="text" class="username" placeholder="Username">
                    </div>
                </div>

                <div class="input_container">
                    <label for="">Birthday</label>
                    <div class="input_box">
                        <input type="text" class="birthday" placeholder="Type birthday">
                    </div>
                </div>
            </div>

            <div class="grouped">
            <div class="input_container">
                <label for="">First Name</label>
                <div class="input_box">
                    <input type="text" class="fName" placeholder="Type first name">
                </div>
            </div>
            <div class="input_container">
                <label for="">Last Name</label>
                <div class="input_box">
                    <input type="text" class="lName" placeholder="Type last name">
                </div>
            </div>
            <div class="input_container">
                <label for="">Email Address</label>
                <div class="input_box">
                    <input type="text" class="email" placeholder="Type email">
                </div>
            </div>
            </div>
            
            <div class="input_container">
                <label for="">Short description</label>
                <div class="input_box">
                    <textarea type="text" class="shortDesc" rows="4" cols="60" placeholder="Type short description"></textarea>

                    
                </div>
            </div>

            <div class="button_container">
                <button class="save_user">Save User</button>
            </div>

        </div>
        <!-- image link
username
birthday
firstname
lastname
emailaddress
bio -->
        <form method="post" action="{% url 'setup'%}">
            {% csrf_token %}
            <label for="id">Id:</label>
            <input type="number" name="id" value="{{ id }}" readonly/><br />
            <label for="imageLink">Image Link:</label>
            <input type="text" name="imageLink" /><br />
            <label for="username">Username:</label>
            <input type="text" name="username"  value="{{ username }}" readonly/><br />
            <label for="birthday">Birthday:</label>
            <input type="text" name="birthday" /><br />
            <label for="firstname">firstname:</label>
            <input type="text" name="firstname" /><br />
            <label for="lastname">lastname:</label>
            <input type="text" name="lastname" /><br />
            <label for="emailaddress">emailaddress:</label>
            <input type="text" name="emailaddress" /><br />
            <label for="bio">bio:</label>
            <input type="text" name="bio" /><br />
            <input type="submit" />
        </form>
    </div>
{% endblock %}