{% extends '../../layout.html' %}

{% load sass_tags static %}

{% block title %}Signup{% endblock %}

{% block css %}
<link href="{% sass_src 'scss/subpages/Initials/login.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div id="LOGIN_PAGE">
        <div class="login_container">
            <h1>Sign Up</h1>
            
            {% if error_message %}
            <p class="error-message" style="color: red; font-weight: bold;">{{ error_message }}</p>
            {% endif %}

            <div class="input_form">
                <div class="input_container">
                    <label for="">Username</label>
                    <div class="input_box">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                </div>
                <div class="input_container">
                    <label for="">Password</label>
                    <div class="input_box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="input_container">
                    <label for="">Confirm Password</label>
                    <div class="input_box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password">
                    </div>
                </div>
            </div>

            <div class="bottom">
                <button class="login_button">Signup</button>
                <div class="signup">Already have an account? Login <a href="{% url 'login'%}">here</a></div>
            </div>
        </div>

        <form method="post" action="{% url 'signup'%}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" /><br />
            <label for="password">Password:</label>
            <input type="password" name="password" /><br />
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" name="confirmPassword" /><br />
            <input type="submit" />
        </form>
    </div>
{% endblock %}